<nav class="navbar navbar-expand border border-1 d-none d-sm-flex"> <!-- content expanded - only shown from sm - main navbar -->
    <div class="container-fluid" style="width: 60%;"> <!-- fluid - 90% width size -->
      <ul class="navbar-nav d-flex align-items-center float-start"> <!-- vertical centered - content starts from left -->
        <li class="nav-item">
          <a class="nav-item d-flex justify-content-center align-items-center" href="#"> <!-- vertical and horizontal centered -->
            <img id="esecetabarber-icono" class="rounded" src="assets/images/esecetabarber-icono.png" style="width: 50px;" alt="esecetabarber-icono">
          </a>
        </li>
        <li class="nav-item m-2 fs-4 fw-semibold"> <!-- margin 2 - font-size 4 - semibold -->
          <span> Esecetabarber</span>
        </li>
      </ul>
      <ul class="navbar-nav d-flex align-items-center float-end" style="font-size: 0.875rem;">  <!-- vertical centered - content starts from right -->
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservas</a>
        </li>
      </ul>
    </div>
  </nav>

